:root {
  /* Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* Neutral */

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.price-component {
  width: 100%;
  height: 100vh;
  background-color: var(--Light-Gray);
}
.price-component-wrapper {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
}

.price-wrapper {
  width: 50%;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
}

/* community section */
.header-component {
  width: 100%;
  padding: 3% 3%;
}

.title1 {
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: var(--Cyan);
  padding: 1rem;
}

.free-day {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: var(--Bright-Yellow);
  padding: 0.8rem;
}
.content {
  color: var(--Grayish-Blue);
  padding: 0.8rem;
  line-height: 1.5;
}

/* price section */
.section-component {
  background-color: var(--Cyan);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
}
.section-price {
  width: 50%;
}
.title2 {
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  padding: 3rem 0 0.5rem 2.5rem;
}
.price {
  display: flex;
  padding: 0rem 0 0.5rem 2.5rem;
}
.price-dol {
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
}
.price-month {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  color: var(--Light-Gray);
  margin: 0.5rem 0 0 2.5rem;
}
.price-text {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  color: var(--Light-Gray);
  font-weight: 600;
  padding: 0rem 0 1.5rem 2.5rem;
}

.sign-up-button {
  text-align: center;
  margin: 0 0 3rem 0;
}
.sign-up-button button {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: var(--Bright-Yellow);
  border: none;
  border-radius: 5px;
  padding: 14px 40px;
  width: 80%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* About Us section */

.footer-component {
  background-color: hsl(179, 63%, 48%);
  border-radius: 0 0 15px 0;
  width: 50%;
  height: 31.5vh;
  padding: 3rem;
}
.title3 {
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer-about p {
  line-height: 1.4;
  color: var(--Light-Gray);
  font-family: "Karla", sans-serif;
}

/* media queries */
@media (max-width: 991px) {
    .price-wrapper {
        width: 60%;
    }
    .sign-up-button button {
        font-size: 1rem;
        padding: 10px 30px;
      }
      .footer-about p {
        line-height: 1.4;
        font-size: 14px;
      }
      .price-text {
        font-size: 0.8rem;
      }

}

@media (max-width: 767px) {
    .price-wrapper {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .price-wrapper {
        width: 80%;
    }
    .section-component {  
        display: grid;
    }
    .section-price {
        width: 100%;
      }
      .footer-component {
        width: 100%;
    }
}
